@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-color: #dbdbdb;
}

#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#search-container input {
  padding: 5px 10px;
  border: solid 2px #ccc;
  border-radius: 5px;
  transition: all 0.3s;
}

#search-container box-icon {
  cursor: pointer;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  background-color: #3a5671;
  color: #ededed;
}

#weather-info {
  position: relative;
  top: -10px;
}

#weather-info > .city {
  font-size: 3rem;
}

#weather-extra-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.extra-item {
  display: flex;
  gap: 1rem;
}

/* Forecast */

#forecast-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  border: solid 2px #ccc;

  label {
    display: flex;
    font-size: 0.8rem;
    padding: 5px 10px;
    border: solid 2px #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
  }

  input[type="radio"] {
    display: none;

    &:checked + label {
      border-color: #000;
    }
  }

  #carousel-navigation {
    display: flex;
    align-items: center;
    justify-content: center;

    .navigation-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
    }

    #dots-container {
      display: flex;
      gap: 8px;
      align-items: center;
      list-style: none;

      .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #000000;
      }
    }
  }
}

#forecast-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: #dbdbdb;

  .forecast-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
  }

  #carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - 7 * 16px) / 8);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    border-radius: 8px;
    scroll-behavior: smooth;
  }
}
