@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-color: #dbdbdb;
}

#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#search-container input {
  padding: 5px 10px;
  border: solid 2px #ccc;
  border-radius: 5px;
  transition: all 0.3s;
}

#search-container box-icon {
  cursor: pointer;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  background-color: #3a5671;
  color: #ededed;
}

#weather-info {
  position: relative;
  top:-10px;
}

#weather-info > .city {
  font-size: 3rem;
}

#weather-extra-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.extra-item {
  display: flex;
  gap: 1rem;
}

/* Forecast */

#forecast-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  border: solid 2px #ccc;
}

#forecast-form label {
  display: flex;
  font-size: 0.8rem;
  padding: 5px 10px;
  border: solid 2px #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

#forecast-form input[type="radio"] {
  display: none;
}

#forecast-form input[type="radio"]:checked + label {
  border: solid 2px #000;
}

#forecast-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  background-color: #dbdbdb;
}

.forecast-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
}